@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind forms;

body,
html,
#root {
  margin: 0;
  padding: 0;
  width: 100%;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.thread-cover {
  background-size: cover;
  background-position: center;
}

.lim {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.post-text {
  box-sizing: border-box;
  padding: 1rem;
}

.pbutton {
  @apply bg-white w-48 text-lg font-semibold active:bg-gray-100 
  text-indigo-500 shadow-lg rounded-md h-1/2;
}

.cbutton {
  @apply bg-red-500 w-48 text-lg font-semibold active:bg-gray-100 
    text-white shadow-lg rounded-md h-1/2;
}

.cbutton:active {
  @apply bg-red-600;
}

.catalog-button {
  @apply inline-flex items-center bg-white text-lg md:text-lg lg:text-xl h-4/5 flex flex-row justify-center p-4;
}

.sidebar-button {
  @apply mb-5 bg-black bg-opacity-20 
   h-16 text-2xl font-semibold text-gray-400
   w-full rounded-md shadow-sm hover:bg-opacity-30 
   active:bg-opacity-40 border border-black border-opacity-20;
}

.sidebutton:focus,
.sidebutton:active {
  outline: 0;
}

.title-box {
  @apply box-border w-auto md:px-20  lg:px-20 md:w-1/2 lg:w-1/2;
}

.htitle {
  @apply font-bold text-3xl md:text-5xl lg:text-7xl box-border pb-4 mt-0 sm:break-all;
}

.htitle-desc {
  @apply font-semibold text-lg md:text-xl lg:text-2xl;
}

.board-select {
  @apply box-border w-full h-auto py-10 flex flex-col md:flex-row lg:flex-row box-border p-10;
}

.board-select button {
  @apply mx-1 md:mx-5 lg:mx-10;
}
